<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flight-System</title>
    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div id="wrapper">
	    <%- partial('components/header') %>
	    <div id='main'>
	        <%- body %>
	    </div>
	    <%- partial('components/footer') %>
	</div>
	
    <script type="text/javascript" src="/public/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>